<a href="https://colab.research.google.com/github/MayankJha17/Python-Pandas/blob/main/Python_Pandas_Seaborn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#PANDAS TUTORIALS

In [ ]:
##importing library pandas
import pandas as pd
##link of the dataset
url='https://raw.githubusercontent.com/MayankJha17/Titanic---Machine-Learning-from-Disaster/main/train.csv'
##reading the dataset
dataset=pd.read_csv(url)

In [ ]:
##printing the data top 5 rows
dataset.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

##Pandas deals with the following three data structures −

Series - 1D - 1D labeled homogeneous array, sizeimmutable.

DataFrame - 2D - General 2D labeled, size-mutable tabular structure with potentially heterogeneously typed columns.

Panel - 3D - General 3D labeled, size-mutable array.

### All Pandas data structures are value mutable (can be changed) and except Series all are size mutable. Series is size immutable.

### SERIES

Series
Series is a one-dimensional array like structure with homogeneous data. For example, the following series is a collection of integers 10, 23, 56, …

Key Points
Homogeneous data
Size Immutable
Values of Data Mutable
Series is size immutable.

### DATAFRAME

DataFrame is a two-dimensional array with heterogeneous data. 

Key Points
Heterogeneous data
Size Mutable
Data Mutable
Panel

### SERIES

A pandas Series can be created using the following constructor −

pandas.Series( data, index, dtype, copy)


data: data takes various forms like ndarray, list, constants

index: Index values must be unique and hashable, same length as data. Default np.arrange(n) if no index is passed.

dtypes: dtype is for data type. If None, data type will be inferred

copy: Copy data. Default False

In [4]:
##creating an empty series
series=pd.Series()
series

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

Series([], dtype: float64)

In [7]:
series=pd.Series([1,2,3])##passing the list
series

0    1
1    2
2    3
dtype: int64

In [8]:
##assigining index values
series=pd.Series([1,2,3],index=[101,102,103])
series

101    1
102    2
103    3
dtype: int64

In [11]:
##paasing dictionary to the series
##Dictionary keys are used to construct index.
data = {'a' : 0, 'b' : 1, 'c' : 2}
s = pd.Series(data)
s

a    0
b    1
c    2
dtype: int64

In [12]:
##Create a Series from Scalar
##If data is a scalar value, an index must be provided. The value will be repeated to match the length of index
s = pd.Series(5, index=[0, 1, 2, 3])
s

0    5
1    5
2    5
3    5
dtype: int64

In [15]:
##Accessing Data from Series with Position
s = pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
s['a']

1

In [16]:
##Retrieve the first three elements in the Series.
s = pd.Series([1,2,3,4,5])
s[:3]

0    1
1    2
2    3
dtype: int64

In [17]:
##Retrieve the last three elements in the Series.
s = pd.Series([1,2,3,4,5])
s[:-3]

0    1
1    2
dtype: int64

In [19]:
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])

#retrieve multiple elements
s[['a','c','d']]

a    1
c    3
d    4
dtype: int64